
<div >
    <div class="body">
    <div class="home5">
    <div  >
        <div class="container3" *ngFor="let element of product">
            <div class="cardcontainer">
                <div class="photo2"> 
                    <img [src]="element.image_url"> 
                </div>
                <div class="content">
                    <p class="txt4">Product Name:{{element.title}}</p>
                    <p class="txt2">Description:{{element.description}}</p>
                    <p class="txt2">Quantity:{{element.quantite}}</p>
                    <p class="txt2">Price:{{element.price}}</p>
                    <div class="button">
                        <img class="img" src="./assets/marker.png" style="width:40px;height:40px"  />
                        <button class="btn" class="btn btn-danger" >delete</button>
                        <button class="btn" class="btn btn-primary">update</button>
                    </div>
                    
                </div>
                
                    <!-- <p><a class="waves-effect waves-light btn" href="#">Read More</a><a id="heart"><span class="like"><i class="fab fa-gratipay"></i>Like</span></a></p> -->
                   
                
                </div>
            </div>
        </div>
        </div>
        </div>
     </div>