/* #my{
    margin-left:45%
    } */
   
    .body {
        display: flex;
        /* grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 46px;
        grid-row-gap: 37px;
        background-color: rgb(109, 152, 152); */
        flex-direction: row;
        justify-content: space-around;
        margin-top: 2%;
        flex-wrap: wrap;
    }
    .cardcontainer {
      
        width: 350px;
        height: auto;
        background-color: rgb(235, 217, 116);
        margin-left: auto;
        margin-right: auto;
        transition: 0.3s;
        margin-bottom: 10%;
    }
    .cardcontainer:hover {
        box-shadow: 0 0 45px gray
    }
    .photo2 {
        height: 300px;
        width: 100%
    }
    .photo2 img {
        height: 100%;
        width: 100%
    }
    .content {
        display: flex;
        flex-direction: column; 
        padding-left: 2% ;
        font-family: 'Tapestry', cursive;
    }
    
    .txt4 {
        font-size: 20px;
        overflow-wrap: break-word;
        font-family: 'Tapestry', cursive;
    }

    .txt2 {
        font-family: 'Tapestry', cursive;
        overflow-wrap: break-word;
    }
    /* .cardcontainer:hover>.photo { */
        /* height: 200px;
        animation: move1 0.5s ease both
    }
    @keyframes move1 {
        0% {
            height: 300px
        }
        100% {
            height: 200px
        }
    }
    .cardcontainer:hover>.content {
        height: 200px
    } */
    /* .footer1 {
        width: 80%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        position: relative;
        top: -15px
    } */
    .btn {
        border:none;
        border-color: #f5f2f1;
        border-radius: 12px;
        background-color: aliceblue;
        margin-bottom: 4%;
    }
    .footer1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .btn:hover {
        box-shadow: 0 0 45px gray
    }
    /* #heart {
        cursor: pointer
    } */
   
    /* .fa-gratipay {
        margin-right: 10px;
        transition: 0.5s
    } */
    /* .fa-gratipay:hover {
        color: #E74C3C
    } */
    .txt3 {
        color: gray;
        position: relative;
        top: 18px;
        font-size: 14px;
        margin-right: 15px;
        
    }
    .comments {
        float: right;
        cursor: pointer
    }

   
    .fa-clock,
    .fa-comments {
        margin-right: 7px
    }